.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.cockpit button {
  background-color: green;
  color: #fff;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: Pointer;
  color: #fff;
}

.cockpit button:hover {
  background-color: lightgreen;
  color: #000;
}

.cockpit button.red {
  background-color: red;
}

.cockpit button.red:hover {
  background-color: salmon;
  color: #000;
}
